{% extends "base.html" %}

{% block title %}Show Task page{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="width: 50%; margin: auto">
    <h1>This is Show Task page</h1>
    <div class="row">
        {% for i in data %}
            <div class="col-sm-6 mb-3 mb-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"> <b>Task Title :</b> {{i.taskTitle}}</h4>
                        <p class="card-text"> <b>Description :</b> {{i.taskDescription}}</p>
                        <h5 class="card-title"> <b>Assign Date: </b>{{i.assign_date}}</h5>
                        <div>
                            Categories : -
                            {% for j in i.category.all %}
                            <button class="btn btn-primary" disabled>{{j.category_name}}</button>
                            {% endfor %}
                        </div>
                        {% if i.is_completed %}
                        <button  class="btn btn-success mt-2" disabled>Completed</button>
                        
                        {% else %}
                        <div style="padding-top: 10px;">
                            <a href="{% url 'edit_task' i.id %}" class="btn btn-warning"> Edit </a>
                            <a href="{% url 'delete_task' i.id %}" class="btn btn-danger"> Delete </a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    
</div>
{% endblock content %}